extends ../shared/template
block content
  h2 Gamblers page!
  #gamblers
    each gambler in gamblers
      .gambler
        .photo(style="background-image: url(#{gambler.photo})")
          .profile.name: a(href='/gambler/#{gamber._id') #{gambler.name}
        .spouse
           .spouseName Spouse Name: #{gambler.spouse.name}
           .spousePhoto(style="background-image: url(#{gambler.spouse.photo})")
        .results
          .wins Wins: #{gambler.results.wins}
            .losses Losses: #{gambler.results.losses}
        .assets
           each asset in gambler.assets
             .asset(style='background-image: url(#{asset.photo})')
                .assetName: a(data-gambler-id=gambler._id.toString() href="#")= asset.name
                .assetValue $#{asset.value}
block scripts
  script(src='/js/user/gambler.js')
